// .sass не поддерживает indented syntax, поэтому этот файл будет .scss :( https://github.com/sass/sass/issues/216

/* grid */

$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/************/

$primary: #26a69a;
$gray: #888888;
$light-gray: #bbbbbb;