.event-list__item {
  display: block;
  color: #333;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 4px 0 #ccc;
  cursor: pointer;
  transition: all .3s ease;
  text-decoration: none !important;
}

.event-list__item:hover {
  border-color: transparent;
  box-shadow: 3px 3px 9px 1px #bbb;
}

.event-list__item p {
  font-weight: 200;
}